<%- include('../partials/head.ejs') %>
</head>

<body>
   <%- include('../partials/navigation.ejs') %>

    <main>
        <%- include('../partials/message.ejs') %>
        Hi there
    </main>
<%- include('../partials/end.ejs') %>